<%- include('./partials/header') %>
<%- include('Navbar') %>

<form class="Formating">
    <h1>Singin</h1> <br/><br/>
    <h3>Email</h3>
    <input type="text" placeholder="Email">
    <h3>Password</h3>
    <input type="password" placeholder="Password">
    <br/>
    <br/>
    <button type="button" class="btn btn-primary">Signin</button>
</form>

<%- include("./partials/footer") %>